body { 
    background-color: rgb(172, 166, 155); /* Changes Background Color of landing page */
    margin: 0px; /* Stretches Nav background color to fill entire screen regardless of width */
}

nav {
    color: yellow; /* Colors Nav bar Words */
    text-align: center; /* Aligning Nav elements to center */
    font-weight: bold; /* Makes Nav wording BOLD */
    width: 100%; /* Specifies width of Nav bar */

}

ul {
    list-style-type: none; /* Removes bullet points from list */
    padding: 19px; /* Changes size of nav background color */
    margin: 0px; /* Specifying margin size */
    width: 100%; /* Sets width of navbar */ 
    background-color: blue; /* Sets background color of Nav */
}

li  { 
    display: inline; /* Positions nav */
    padding: 20px; /* Padding between each nav element */
    cursor: pointer; /* Changes cursor to a pointer when hovering over nav elements */
    
}


li:hover {
    background-color: green; /* Changes color when user hovers over nav buttons */
}



