body { 
    background-color: rgb(172, 166, 155);
}

nav {
    color: yellow;
    text-align: center; 

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li  { 
    display: inline;
    padding: 14px 16px;
    cursor: pointer;
}


li:hover {
    background-color: orange;
}



