body { 
    background-color: rgb(172, 166, 155); /* Changes Background Color of landing page */
    margin: 0px;
}

nav {
    color: yellow;
    text-align: center; 
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;

}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: blue;
}

li  { 
    display: inline;
    padding: 10px 16px;
    cursor: pointer;
    
}


li:hover {
    background-color: orange; /* Changes color when user hovers over nav buttons */
}



